apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: gitops-demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: pycharmedme/backend:v2
        imagePullPolicy: Always
        ports:
        - containerPort: 5000
