apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: gitops-demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: pycharmedme/frontend:v2
        imagePullPolicy: Always
        ports:
        - containerPort: 80
